body {
  background-color: #b3a44f;
}

.container {
  max-width: 600px;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin-right: -50%;
}

.title {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 2.5em;
  color: white;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
}
#new-task {
  position: relative;
  background-color: white;
  padding: 1.8em 1.25em;
  border-radius: 0.3em;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  display: grid;
  grid-template-columns: 25fr 1.7fr;
  gap: 2em;
}

.todo-input {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 1em;
  border: none;
  border-bottom: 2px solid #d1d3d4;
  padding: 0.8em 0.5em;
  color: #111111;
}

.todo-input:focus {
  outline: none;
  border-color: #0b87ff;
}

.add-button {
  border: none;
  outline: none;
  font-size: 0.9em;
  height: 2.5em;
  width: 2.5em;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: #918a41;
  color: white;
  margin-top: 11px;
}

#tasks {
  background-color: #ffffff;
  position: relative;
  padding: 1.25em 1.25em;
  margin-top: 3.2em;
  max-width: 600px;
  width: 95%;
  box-shadow: 0 1.25em 1.8em rgba(1, 24, 48, 0.15);
  border-radius: 0.3em;
  transform: translate(-50%, 0%);
  top: 50%;
  left: 50%;
}

.task {
  background-color: #ffffff;
  padding: 0.3em 0.6em;
  margin-top: 0.6em;
  display: flex;
  align-items: center;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}

.task span {
  font-family: "Poppins", sans-serif;
  font-size: 0.9em;
  font-weight: 400;
}
.task button {
  color: #ffffff;
  padding: 0.8em 0;
  width: 2.8em;
  border-radius: 0.3em;
  border: none;
  outline: none;
  cursor: pointer;
}

.delete {
  background-color: #622525;
}

.edit {
  background-color: #918a41;
  margin-left: auto;
  margin-right: 3em;
}

.completed {
  text-decoration: line-through;
}
